@import url("common.css");

/* header style */
header {
  background: rgba(0, 0, 0, 0.2);
  /* position이 fixed되면 깨지기 때문에 */
  width: 100%;
  height: 100px;
  line-height: 100px;
  position: fixed;
  top: 0;
  /* 항상 위에 있게 */
  z-index: 9999;
}
header .inner-header {
  /* border: 3px solid tomato; */
  width: 84%;
  margin: 0 auto;
}

header .inner-header .logo {
  /* border: 3px solid violet; */
  float: left;
  /* 이미지가 들어갈 사진액자 크기조절 */
  width: 200px;
}
header .inner-header .logo img {
  /* 사진액자에 맞게 100% */
  width: 100%;
}

header .inner-header .gnb {
  /* border: 3px solid red; */
  float: left;
  margin-left: 80px;
}
header .inner-header .gnb li {
  /* border: 3px dashed yellow; */
  float: left;
  margin-right: 80px;
}
header .inner-header .gnb li a {
  display: block;
  color: #fff;
  font-size: 16px;
}

header .inner-header .gnb li a:hover {
  color: #ff8342;
}

header .inner-header .tnb {
  /* border: 3px solid blue; */
  float: right;
  color: #fff;
  font-size: 16px;
}
header .inner-header .tnb li {
  float: left;
  margin-right: 25px;
}

header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i {
  margin-right: 8px;
  /* 아이콘 크기조절은 font-size  */
  font-size: 18px;
}

header .inner-header .tnb li:last-child a {
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 30px;
}

header .inner-header .tnb li:last-child a:hover {
  background: white;
  color: #ff8342;
}

header .inner-header .tnb li:last-child i {
  margin-left: 5px;
}

header .inner-header .gnb-mobile {
  display: none;
}

/* section.main style */
section.main {
  background: url("../img/vis_4.jpg") no-repeat center/cover fixed;
  height: 100vh;
  /* .main-title에 absolute 존재하므로 공식처럼 부모에 relative */
  position: relative;
}

section.main .main-title {
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 10px #123;
  /* 박스를 정중앙으로 이동하는 공식 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  */
}

section.main .main-title h2 {
  font-size: 55px;
}
section.main .main-title p {
  font-size: 25px;
  margin: 20px 0;
}
section.main .main-title .view {
  font-size: 15px;
  letter-spacing: 2px;

  display: block;
  width: 180px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 8px 0;
  overflow: hidden;
  /* .view::after 가상박스를 view위로 올리기위해 relative */
  position: relative;
}
section.main .main-title .view::after {
  content: "";
  /* hover 됐을 때 100% 되게 할 것 */
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}
section.main .main-title .view:hover::after {
  width: 100%;
}

/* section > div.title 공통 style */
section .title {
  text-align: center;
}

section .title h2 {
  font-size: 45px;
  margin-bottom: 5px;
}
section .title p {
  font-size: 18px;
  color: #555;
}

section .sub-container {
  width: 74%;
  margin: 0 auto;
}

/* section.about style */
section.about {
  margin: 80px 0;
}
section.about ul.sub-container {
  /* background: orange; */
  margin-top: 30px;
  border: 2px solid #ddd;
  padding-bottom: 30px;
}

section.about ul.sub-container li {
  float: left;
  width: 33.333%;
  /* height: 510px; */
}
/* a를 hover했을 때 어떤것을 hover할지 명시 */
section.about ul.sub-container li a:hover .img-box img {
  transform: scale(1.2);
}
/* 사진 액자 */
section.about ul.sub-container li .img-box {
  overflow: hidden;
}
section.about ul.sub-container li .img-box img {
  /* 액자에 딱 맞게 */
  width: 100%;
  /* hover가 없는 쪽에 ! */
  transition: 0.6s;
}
section.about ul.sub-container li .text {
  padding: 25px;
  /* border: 1px solid #000; */
  height: 150px;
}
section.about ul.sub-container li .text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

section.about ul.sub-container li .text p {
  font-size: 16px;
  margin-bottom: 20px;
}
section.about ul.sub-container li .text .more {
  /* lowercase : 일괄 소문자 변경 */
  text-transform: uppercase;
  font-weight: 700;
  /* border: 2px solid #000; */
  position: relative;
  padding-left: 40px;
  height: 30px;
}

section.about ul.sub-container li .text .more::before {
  content: "→";
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #ff8342;
  /* 50% 하면 원 */
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -7px;
}

section .sub-container {
  /* border: 3px solid red; */
  position: relative;
  margin-bottom: 100px;
}

/* innovation.about style */
section .sub-container .img-box img {
  margin-top: 50px;
  width: 100%;
  /* border: 3px solid #000; */
}
section .sub-container .inner {
  background: #fff;
  width: 80%;
  height: 150px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section .sub-container .inner .en {
  padding: 18px 18px 18px 30px;
  border-bottom: 1px solid #000;
  font-size: 1.2em;
  text-wrap: 700;
}
section .sub-container .inner .bottom {
  background: #123456;
  text-align: center;
  color: #fff;
  font-size: 1.3em;
}

section .sub-container .inner .bottom p {
  /* border: 1px solid yellow; */
  padding: 30px 30px 30px 50px;
  float: left;
  width: 70%;
}
section .sub-container .inner .bottom a {
  background-color: #ff8342;
  float: left;
  top: 40px;
  left: 30px;
  width: 20%;
  border-radius: 40px;
  position: relative;
}

section .sub-container .inner .bottom a::before {
  content: "";
  display: block;
  width: 40%;
  height: 30px;
  position: absolute;
}

/* me.about style */
section.me {
  background: url("../img/me.jpg") no-repeat center/cover fixed;
  height: 100vh;
}
section.me .title {
  padding-bottom: 50px;
}
section.me .sub-container {
  border-top: 2px solid #123456;
  border-bottom: 2px solid #000;
}

section.me .sub-container > li:nth-child(2) {
  margin-bottom: 40px;
}

section.me .sub-container li h3 {
  /* border: 1px solid #000; */
  font-size: 1.5em;
  padding-top: 20px;
}

section.me .sub-container li:nth-child(2) h3 {
  margin-top: 30px;
  border-top: 2px solid lightgray;
}

section.me .sub-container li span i {
  padding-right: 10px;
  color: orange;
}
/* 첫 번째 li의 p */
section.me .sub-container > li:first-child p {
  padding: 15px 15px 15px 30px;
  line-height: 20px;
}
/* 두 번째 li의 p */
section.me .sub-container > li:nth-child(2) > p {
  padding: 15px 15px 15px 30px;
}
section.me .sub-container li:first-child a {
  padding-left: 30px;
  font-weight: 700;
}
section.me .sub-container li:nth-child(2) a:last-child {
  padding-left: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}

section.me .sub-container .in {
  line-height: 40px;
}
section.me .sub-container .in p {
  /* border: 1px solid blue; */
  float: left;
  padding-left: 40px;
  width: 80%;
  position: relative;
}
section.me .sub-container .in em {
  /* border: 1px solid red; */
  padding-left: 30px;
  font-weight: 700;
  float: left;
  width: 12%;
  position: relative;
}
section.me .sub-container .in p::after {
  content: "";
  width: 5px;
  height: 5px;
  background: #ff8342;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 17px;
}

section.me #incruit-btn {
  width: 200px;
  height: 30px;
  color: #fff;
  background: #ff8342;
  border-radius: 15px;
  /* margin 쓰려면 block 필요 !! */
  margin: 0 auto;
  display: block;
}

/* sns.about style */
section.sns .title {
  margin: 40px 0;
}

section.sns ul.sub-container {
  /* border: 1px solid #ddd; */
}

section.sns ul.sub-container li {
  float: left;
  width: 30.6%;
  margin-right: 2%;
}

section.sns ul.sub-container li .img-box img {
  /* 액자에 딱 맞게 */
  width: 100%;
  /* hover가 없는 쪽에 ! */
  transition: 0.6s;
}

section.sns ul.sub-container li:first-child {
  margin-left: 2%;
}

section.sns ul.sub-container .bottom {
  padding: 25px;
  width: 100%;
}

section.sns ul.sub-container .bottom .color {
  color: orange;
  padding-bottom: 10px;
}

section.sns ul.sub-container .bottom > p:nth-child(2) {
  font-weight: 700;
  font-size: 1.1em;
  padding-bottom: 23px;
}
section.sns ul.sub-container .bottom .time {
  color: darkgrey;
}

section.sns ul.sub-container .bottom .time i {
  padding-right: 5px;
}

/* footer.about style */
footer {
  border-top: 1px solid darkgray;
}

/* 사진 액자 */
footer .inner .ft-logo {
  float: left;
  width: 25%;
  margin-left: 50px;
}
/* 이미지 크기 조절 */
footer .inner .ft-logo img {
  /* 사진액자에 맞게 100% */
  width: 100%;
}

footer .inner .address {
  float: left;
  width: 20%;
  padding-top: 70px;
  line-height: 25px;
}
footer .inner .address li:first-child {
  font-weight: 700;
}
footer .inner .list {
  /* border: 1px solid red; */
  float: left;
  width: 50%;
}

footer .inner .list li {
  float: left;
  padding-top: 74px;
  padding-left: 60px;
}
footer .inner .list li:last-child {
  font-weight: 700;
}