@import url("common.css");

/* header style */
header {
  background: rgba(0, 0, 0, 0.2);
  /* position이 fixed되면 깨지기 때문에 */
  width: 100%;
  height: 100px;
  line-height: 100px;
  position: fixed;
  top: 0;
}
header .inner-header {
  /* border: 3px solid tomato; */
  width: 84%;
  margin: 0 auto;
}

header .inner-header .logo {
  /* border: 3px solid violet; */
  float: left;
  /* 이미지가 들어갈 사진액자 크기조절 */
  width: 200px;
}
header .inner-header .logo img {
  /* 사진액자에 맞게 100% */
  width: 100%;
}

header .inner-header .gnb {
  /* border: 3px solid red; */
  float: left;
  margin-left: 80px;
}
header .inner-header .gnb li {
  /* border: 3px dashed yellow; */
  float: left;
  margin-right: 80px;
}
header .inner-header .gnb li a {
  display: block;
  color: #fff;
  font-size: 16px;
}

header .inner-header .gnb li a:hover {
  color: #ff8342;
}

header .inner-header .tnb {
  /* border: 3px solid blue; */
  float: right;
  color: #fff;
  font-size: 16px;
}
header .inner-header .tnb li {
  float: left;
  margin-right: 25px;
}

header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i {
  margin-right: 8px;
  /* 아이콘 크기조절은 font-size  */
  font-size: 18px;
}

header .inner-header .tnb li:last-child a {
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 30px;
}

header .inner-header .tnb li:last-child a:hover {
  background: white;
  color: #ff8342;
}

header .inner-header .tnb li:last-child i {
  margin-left: 5px;
}

header .inner-header .gnb-mobile {
  display: none;
}
